@import './grid.css';
/* 
===================================================================
1. Global Reset -- *
2. Variables (Root Styles)
3. Utility Classes
----------------section ----------------
4. Header Section
5. Banner Section
6. About Section
7. Statistics section
8. Services Section
9. Properties section
10. Appartment section
11. Parallax section
12. Aminities section
13. Testimonials section
14. Blogs section
15. Footer Section 
===================================================================
/* reset styles  */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: var(--nunito-font);
  line-height: 1.8;
}

:root {
  --primary-color: #FF5A3C;
  --secondary-color: #fff;
  --bg-light: #F5DFDC;
  --bg-dark: #F2F6F7;
  --dark-color: #114148;
  --text-light-color: #5C727D;
  --border-color: #E4ECF2;
  --footer-bg: #171B2A;
  --bottom-footer-bg: #282B38;
  /* ---------------typography------------ */
  /* headings  */
  --heading-1: 1.5rem;
  --heading-2: 1.25rem;
  --heading-4: 1.125rem;
  --popins-font: 'Poppins', sans-serif;
  --nunito-font: "Nunito Sans", serif;
  /* paragraph  */
  --text-20: 1.25rem;
  /* box shadows  */
  /* --header-shadow: 0 10px 20px 0 rgba(46, 56, 220, 0.2); */
  --services-card-shadow: 0 16px 32px 0 rgba(7, 28, 31, 0.1);
  --properties-card-shadow: 0 5px 20px 0 rgba(23, 44, 82, 0.1);
  --aminities-card-shadow: 0px 0px 6px 4px rgba(153, 178, 182, 0.1);
  --arrow-btn-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
  --blog-card-shadow: 0 5px 20px 0 rgba(23, 44, 82, 0.1);
  --testimonials-card-shadow: 0 5px 20px 0 rgba(23, 44, 82, 0.1);
  /* btn  */
  --btn-padding: .625rem 1rem;
  /* spacing  */
  --sub-title-padding: 5px 20px;
  --btn-font-size: 1rem;
  --nav-items-padding: .5rem 2rem;
  --nav-links-padding: 1rem .8rem;
  --header-padding: 0 1rem;
  --section-bottom-gap: 3rem;
  --section-padding: 2rem 1rem;
  --page-title-padding: 1rem 1rem;
  --tab-panel-padding: 1rem .8rem;
  --footer-wrapper: 6rem 2rem 2rem 2rem;
  --appartment-content-padding: 1rem;
  --cta-padding: 2rem;
}

/* common  */

.p-4 {
padding: var(--section-padding);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--popins-font);
}

.material-symbols-outlined {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* //------------------utility classes starts here-------------- */
/* anchor color inherit  */
a {
  color: inherit;
}

/* color pallate  */
.text-dark {
  color: var(--dark-color);
}

.bg {
  background-color: rgb(from var(--primary-color) r g b/ 20%);
}

.text-light {
  color: var(--text-light-color)
}

.white-color {
  color: var(--secondary-color)
}

.primary-color {
  color: var(--primary-color);
}

.bg-light {
  background-color: var(--bg-light);
}

.bg-dark {
  background-color: var(--bg-dark);
}

/* flex  */
.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-col {
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: end;
}

.sub-title {
  background-color: var(--bg-light);
  color: var(--primary-color);
  font-family: var(--popins-font);
  padding: var(--sub-title-padding);
  border-radius: 1.5rem;
  display: inline-block;
  margin-bottom: 1rem;
}

.page-title {
  padding: var(--page-title-padding);
}

.page-title p {
  display: flex;
  align-items: center;
  font-weight: 700;
}

.page-title a {
  transition: color .3s ease-in-out;
  color: var(--text-light-color);
}

.page-title a:hover {
  color: var(--primary-color);
}

/*--------------- typography ------------- */
/* font-size  */
.title {
  font-size: var(--heading-1);
  font-family: var(--popins-font);
  font-weight: 700;
  margin-bottom: 1rem;
}

.heading-2 {
  font-size: var(--heading-2);
  font-weight: 700;
  font-family: var(--popins-font);
}

.heading-4 {
  font-size: var(--heading-4);
  font-family: var(--popins-font);
}

.para-md-size {
  font-size: var(--text-20);
}

.font-bold {
  font-weight: 700;
}

/*-------------------------btn classes------------------*/
/* base btn class  */
.btn {
  position: relative;
  font-size: var(--btn-font-size);
  padding: var(--btn-padding);
  cursor: pointer;
  overflow: hidden;
  outline: none;
  border: none;
  font-family: var(--popins-font);
  transition: color 0.3s ease-in-out;
}

.btn-circle {
  width: 80px;
  height: 80px;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  font-size: var(--btn-font-size);
  border-radius: 50%;
  border: none;
  cursor: pointer;
  position: relative;
  transition: transform 0.3s ease-in-out;
}

/* Glow effect */
.btn-circle::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80px;
  height: 80px;
  background-color: var(--secondary-color);
  border-radius: 50%;
  transform: translate(-50%, -50%) scale(1);
  animation: glow 1s infinite;
  z-index: -1;
}

@keyframes glow {
  0% {
      opacity: 0.8;
      transform: translate(-50%, -50%) scale(1);
  }

  50% {
      opacity: 0.4;
      transform: translate(-50%, -50%) scale(1.3);
  }

  100% {
      opacity: 0;
      transform: translate(-50%, -50%) scale(1.5);
  }
}

/* primary secondary btn  */
.btn-primary,
.btn-secondary,
.cta-btn {
  position: relative;
  overflow: hidden;
  z-index: 1;
  background-color: transparent;
  border: 1px solid;
}

.btn-primary {
  color: var(--secondary-color);
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.btn-secondary {
  color: var(--dark-color);
  background-color: var(--light-color);
  border-color: var(--dark-color);
}

.cta-btn {
  color: var(--dark-color);
  background-color: var(--secondary-color);
  border-color: var(--secondary-color);
}

.btn-primary::before,
.btn-secondary::before,
.cta-btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: left 0.3s ease-in-out;
}

.btn-primary::before {
  background-color: var(--secondary-color);
}

.btn-secondary::before,
.cta-btn::before {
  background-color: var(--dark-color);
}

.cta-btn:hover::before,
.btn-primary:hover::before,
.btn-secondary:hover::before {
  left: 0;
}

.btn-primary:hover {
  color: var(--primary-color);
}

.btn-secondary:hover {
  color: var(--secondary-color);
}

.cta-btn:hover {
  color: var(--secondary-color);
  border-color: var(--dark-color)
}

.btn-center-align {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.profile-rounded {
  height: 4rem;
  width: 4rem;
  border-radius: 50%;
}

/* responsive breakpoints  */
@media (min-width: 768px) {
  :root {
      /* headings  */
      --heading-1: 1.875rem;
      --heading-2: 1.5rem;
      --heading-4: 1.25rem;
      /* btn  */
      --btn-padding: .8rem 1.25rem;
      /* --footer-wrapper: 6rem 2rem 2rem 2rem; */
      --section-bottom-gap: 4rem;
      --header-padding: 0 3rem;
      --section-padding: 2rem 3rem;
      --page-title-padding: 1rem 3rem;
      --tab-panel-padding: 1rem 2.5rem;
      --appartment-content-padding: 2rem;
      --cta-padding: 3rem;
  }
}

@media (min-width: 992px) {
  :root {
      /* headings  */
      --heading-1: 2rem;
      --heading-2: 1.8rem;

      --heading-4: 1.5rem;
      /* btn  */
      /* btn  */
      --btn-padding: 1rem 2.5rem;
      /* --footer-wrapper: 6rem 2rem 2rem 2rem; */
      --header-padding: 0 5rem;
      --page-title-padding: 1rem 5rem;
      --tab-panel-padding: 1rem 4rem;
      --section-bottom-gap: 6rem;
      --section-padding: 4rem 5rem;
      --appartment-content-padding: 3rem;
  }

}

@media (min-width: 1200px) {
  :root {
      /* headings  */
      --heading-1: 2.75rem;
      --heading-1: 2.25rem;
      --heading-4: 1.5rem;
  }
}